.table {
  border: 2px solid black;
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
  border-collapse: collapse;
}

.header {
  background-color: #383333;
  color: white;
}

.headerLine,
.line {
  border: 1px solid black;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 150px;
}

.listItem:nth-child(even) {
  background-color: #a7a5a5;
}

.line {
  text-align: center;
}

.type {
  text-transform: capitalize;
  text-align: left;
  padding-left: 40px;
}
